{{ define "footer" }}

    <footer class="text-center text-lg-start bg-dark text-muted">
        <div class="row py-md-2">
            <div class="col px-md-3">
            &copy; Johannes Kuhfuss, 2026
            </div>

            <div class="col">
            </div>

            <div class="col">
            </div>
        </div>
    </footer>

    <script src="/bootstrap/bundle.min.js" crossorigin="anonymous"></script>

    {{block "js" .}}

    {{end}}

    </body>

    </html>
{{ end }}