{{ define "xcodelist.page.tmpl" }}

{{ template "header" .}}

   <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Files transcoded</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                          <th scope="col">Transcode Date</th>
                          <th scope="col">Source Name</th>
                          <th scope="col">Target Name</th>
                          <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .data }}
                        <tr>
                          <td>{{ .XcodeDate }}</td>
                          <td>{{ .SourceFileName }}</td>
                          <td>{{ .TargetFileName }}</td>
                          <td>{{ .Status }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        setTimeout(function(){
        location.reload();}, 5000);
    </script>

{{ template "footer" .}}

{{ end }}
